<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
>

<head>

<title> Pessoa Não Encontrada</title>

<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css" rel="stylesheet" />
<link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css" rel="stylesheet" />

<link type="text/css" href="/css/cadastro_pessoa.css" rel="stylesheet" />


</head>
<body>

	<div class="alert alert-info" id="msgErro">
	  <strong id="msgErroTexto"> Pessoa não encontrada!</strong>
	</div>
	
</body>

</html>